In [97]:
%pip install pandas 
import pandas as pd

Requirement already satisfied: pandas in c:\users\vnish\appdata\local\programs\python\python313\lib\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\vnish\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.3.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\vnish\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\vnish\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\vnish\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\vnish\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.1.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [98]:
df = pd.read_csv('D:\Repository\zomato_data\data\Zomato_Dataset.csv')
df.head()

<>:1: SyntaxWarning: invalid escape sequence '\R'
<>:1: SyntaxWarning: invalid escape sequence '\R'
C:\Users\vnish\AppData\Local\Temp\ipykernel_8960\2028258535.py:1: SyntaxWarning: invalid escape sequence '\R'
  df = pd.read_csv('D:\Repository\zomato_data\data\Zomato_Dataset.csv')

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min)
0,0xcdcd,DEHRES17DEL01,36.0,4.2,30.327968,78.046106,30.397968,78.116106,12-02-2022,21:55,22:10,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46
1,0xd987,KOCRES16DEL01,21.0,4.7,10.003064,76.307589,10.043064,76.347589,13-02-2022,14:55,15:05,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23
2,0x2784,PUNERES13DEL03,23.0,4.7,18.562450,73.916619,18.652450,74.006619,04-03-2022,17:30,17:40,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,21
3,0xc8b6,LUDHRES15DEL02,34.0,4.3,30.899584,75.809346,30.919584,75.829346,13-02-2022,09:20,09:30,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20
4,0xdb64,KNPRES14DEL02,24.0,4.7,26.463504,80.372929,26.593504,80.502929,14-02-2022,19:50,20:05,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41

In [99]:
df.dtypes

ID                              object
Delivery_person_ID              object
Delivery_person_Age            float64
Delivery_person_Ratings        float64
Restaurant_latitude            float64
Restaurant_longitude           float64
Delivery_location_latitude     float64
Delivery_location_longitude    float64
Order_Date                      object
Time_Orderd                     object
Time_Order_picked               object
Weather_conditions              object
Road_traffic_density            object
Vehicle_condition                int64
Type_of_order                   object
Type_of_vehicle                 object
multiple_deliveries            float64
Festival                        object
City                            object
Time_taken (min)                 int64
dtype: object

In [100]:
# New column: Restaurant_distance
df['Restaurant_distance'] = ((df['Restaurant_latitude'] - df['Delivery_location_latitude'])**2 + (df['Restaurant_longitude'] - df['Delivery_location_longitude'])**2)**0.5

In [101]:
df.head()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,...,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min),Restaurant_distance
0,0xcdcd,DEHRES17DEL01,36.0,4.2,30.327968,78.046106,30.397968,78.116106,12-02-2022,21:55,...,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46,0.098995
1,0xd987,KOCRES16DEL01,21.0,4.7,10.003064,76.307589,10.043064,76.347589,13-02-2022,14:55,...,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23,0.056569
2,0x2784,PUNERES13DEL03,23.0,4.7,18.562450,73.916619,18.652450,74.006619,04-03-2022,17:30,...,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,21,0.127279
3,0xc8b6,LUDHRES15DEL02,34.0,4.3,30.899584,75.809346,30.919584,75.829346,13-02-2022,09:20,...,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20,0.028284
4,0xdb64,KNPRES14DEL02,24.0,4.7,26.463504,80.372929,26.593504,80.502929,14-02-2022,19:50,...,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41,0.183848

In [102]:
df['Order_Date'] = pd.to_datetime(df['Order_Date'], format='%d-%m-%Y')

In [103]:
def fraction_to_time(fraction):
    """Convert fraction of a day (0–1) into HH:MM format."""
    if pd.isna(fraction):
        return None
    total_minutes = int(round(float(fraction) * 24 * 60))
    hours = total_minutes // 60
    minutes = total_minutes % 60
    return f"{hours:02d}:{minutes:02d}"


# Check the datatype of the column
if pd.api.types.is_numeric_dtype(df['Time_Orderd']):
    # Column is numeric — treat as fraction of a day
    df['Time_Orderd'] = df['Time_Orderd'].apply(fraction_to_time)


df['Time_Orderd'] = pd.to_datetime(df['Time_Orderd'], errors='coerce', format='%H:%M')

# Check the datatype of the column
if pd.api.types.is_numeric_dtype(df['Time_Order_picked']):
    # Column is numeric — treat as fraction of a day
    df['Time_Order_picked'] = df['TTime_Order_picked'].apply(fraction_to_time)


df['Time_Order_picked'] = pd.to_datetime(df['Time_Order_picked'], errors='coerce', format='%H:%M')

df['Time_Order_picked']

0       1900-01-01 22:10:00
1       1900-01-01 15:05:00
2       1900-01-01 17:40:00
3       1900-01-01 09:30:00
4       1900-01-01 20:05:00
                ...
45579   1900-01-01 11:45:00
45580   1900-01-01 20:10:00
45581                   NaT
45582   1900-01-01 13:40:00
45583   1900-01-01 17:15:00
Name: Time_Order_picked, Length: 45584, dtype: datetime64[ns]

In [104]:
df['Weather_conditions'].unique()

array(['Fog', 'Stormy', 'Sandstorms', 'Windy', 'Cloudy', 'Sunny', nan],
      dtype=object)

In [105]:
df['Road_traffic_density'].unique()

array(['Jam', 'High', 'Medium', 'Low', nan], dtype=object)

In [106]:
df['Vehicle_condition'].unique()

array([2, 1, 0, 3])

In [107]:
df['Type_of_order'].unique()

array(['Snack', 'Meal', 'Drinks', 'Buffet'], dtype=object)

In [108]:
df['Type_of_vehicle'].unique()

array(['motorcycle', 'scooter', 'electric_scooter', 'bicycle'],
      dtype=object)

In [109]:
df['multiple_deliveries'].unique()

array([ 3.,  1.,  0., nan,  2.])

In [110]:
df['City'].unique()

array(['Metropolitian', 'Urban', 'Semi-Urban', nan], dtype=object)

In [111]:
df.rename(columns={'Time_taken (min)': 'Time_taken_mins'}, inplace=True)

In [112]:
df.shape

(45584, 21)

In [113]:
df.isnull().sum()

ID                                0
Delivery_person_ID                0
Delivery_person_Age            1854
Delivery_person_Ratings        1908
Restaurant_latitude               0
Restaurant_longitude              0
Delivery_location_latitude        0
Delivery_location_longitude       0
Order_Date                        0
Time_Orderd                    5799
Time_Order_picked              5007
Weather_conditions              616
Road_traffic_density            601
Vehicle_condition                 0
Type_of_order                     0
Type_of_vehicle                   0
multiple_deliveries             993
Festival                        228
City                           1200
Time_taken_mins                   0
Restaurant_distance               0
dtype: int64

In [114]:
# Mode based imputation
Weather_mode = df['Weather_conditions'].mode()[0]
df.fillna({'Weather_conditions': Weather_mode}, inplace=True)

Road_traffic_mode = df['Road_traffic_density'].mode()[0]
df.fillna({'Road_traffic_density': Road_traffic_mode}, inplace=True)

Festival_mode = df['Festival'].mode()[0]
df.fillna({'Festival': Festival_mode}, inplace=True)

City_mode = df['City'].mode()[0]
df.fillna({'City': City_mode}, inplace=True)

In [115]:
# Mean based imputation
Rating_mean = df['Delivery_person_Ratings'].mean()
df.fillna({'Delivery_person_Ratings': Rating_mean}, inplace=True)
df['Delivery_person_Ratings'] = df['Delivery_person_Ratings'].round(decimals=1)

age_mean = int(df['Delivery_person_Age'].mean())
df.fillna({'Delivery_person_Age': age_mean}, inplace=True)

del_mean = int(df['multiple_deliveries'].mean())
df.fillna({'multiple_deliveries': del_mean}, inplace=True)

In [116]:
max_rating = df['Delivery_person_Ratings'].unique()
max_rating
# Some ratings are given as 6 which is incorrect as max rating is 5

df['Delivery_person_Ratings'] = df['Delivery_person_Ratings'].replace(6, 5)

In [117]:
%pip install python-dotenv
from dotenv import load_dotenv
import os

# Load .env file
load_dotenv()

username = os.getenv("DB_USER")
password = os.getenv("DB_PASS")
host = os.getenv("DB_HOST")
database = os.getenv("DB_NAME")

%pip install sqlalchemy pymysql
%pip install cryptography
from sqlalchemy import create_engine

# Create the SQLAlchemy engine
engine = create_engine(f"mysql+pymysql://{username}:{password}@{host}/{database}")

# Write the DataFrame to MySQL (Table name: zomato)
df.to_sql('zomato', engine, if_exists='replace', index=False)

print("✅ Data uploaded to MySQL successfully!")

Requirement already satisfied: python-dotenv in c:\users\vnish\appdata\local\programs\python\python313\lib\site-packages (1.2.1)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.1.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: sqlalchemy in c:\users\vnish\appdata\local\programs\python\python313\lib\site-packages (2.0.44)
Requirement already satisfied: pymysql in c:\users\vnish\appdata\local\programs\python\python313\lib\site-packages (1.1.2)
Requirement already satisfied: greenlet>=1 in c:\users\vnish\appdata\local\programs\python\python313\lib\site-packages (from sqlalchemy) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\vnish\appdata\local\programs\python\python313\lib\site-packages (from sqlalchemy) (4.15.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.1.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

[notice] A new release of pip is available: 25.1.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: cryptography in c:\users\vnish\appdata\local\programs\python\python313\lib\site-packages (46.0.3)
Requirement already satisfied: cffi>=2.0.0 in c:\users\vnish\appdata\local\programs\python\python313\lib\site-packages (from cryptography) (2.0.0)
Requirement already satisfied: pycparser in c:\users\vnish\appdata\local\programs\python\python313\lib\site-packages (from cffi>=2.0.0->cryptography) (2.23)
Note: you may need to restart the kernel to use updated packages.
✅ Data uploaded to MySQL successfully!